[all_paras]
# 数据清洗文件，主要针对电网表中很多字段以‘EXT_’开头，为人工添加，无业务意义，对此进行剔除
# 数据配置文件规则说明：
# 应为一个字典，格式为：{"_":["str1","str2",...],
#                       "tab1":["tab1_str1",...],
#                       "tab2":["tab2_str1",...],
#                       ...}
# 其中，"_"对于的值列表表示对多有的数据表都适用；tab1,tab2表示只对对应的表适用。
# 值列表的书写规则为：'ABC'或'ABC%'，若以‘%’结尾，则表明要和‘ABC’完全匹配；否则，以‘ABC’开头的即过滤
# 注意：'_'必须存在，若不设置筛选规则，则将其值列表设置为空即可。
data_cleansing = {"_":["EXT_"]}

# 布尔值，取值True或False，控制`field_value_filter`函数中是否计算数据框中数据的平均字符长度
computeStringLength = True

# 正整数，取值一般在2到10之间，控制`field_value_filter`函数中输入参数的数据平均长度的下界
infStringLength = 3

# 浮点数，取值0到1之间，控制`field_value_filter`函数中非重复值数量占总数量的百分比的下界
# 低于此下界表名该字段的值重复率太高，很大概率认为该字段内容为状态码类数据
# 注意：有的情况下重复率高但也是真正的外键字段，可以适当调低该参数
infDuplicateRatio = 0.4

# 正整数，取值一般大于10，控制表行数的下界
# 低于此下界表名表较小，可能不适用于计算关系
infTableLength = 10
#*********************************
# 以上所有参数调整为由用户在前端配置
#*********************************

# 新增系统配置项：判断字段是否既作为主键字段又作为外键字段，默认为False
bothRoles = False

##############################################################
# 以下参数为业务信息配置，合理的配置有助于提高算法的准确率与精度 #
##############################################################
# 一些表名拼接成的长字符串，以英文逗号分开，控制哪些表不作为主键被其他表引用，默认为空
#   e.g. notBaseTable = table1,table2,table3
notBaseTable = None

# 一些表名拼接成的长字符串，以英文逗号分开，控制哪些表不会引用其他表，默认为空
#   e.g. notCiteTable = table1,table2,table3
notCiteTable = None

# 浮点数，取值0到1之间，一般小于0.3，控制外键字段中不包含于主键字段的数量占外键中值的总数的百分比的上界
# 这允许在数据质量较差时存在部分数据不满足外键约束，但仍可以对其进行关联
# 默认为0，即严格按照外键规则进行约束
supOutForeignKey = 0.3